.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50rem 50rem 0 0;
    border-color: #FED931 transparent transparent transparent;
}

.details-container {
    margin: 0;
    padding: 0;
}

.product-image {
    z-index: 1;
    position: relative;
    bottom: 40rem;
    left: 10rem;
    width: 25rem;
    height: 16rem;
}

.detail-body {
    overflow: hidden;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .product-image {
        bottom: 15rem;
        left: 5rem;
        width: 12.5rem;
        height: 8rem;
    }
    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23rem 23rem 0 0;
        border-color: #FED931 transparent transparent transparent;
    }
}