.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50rem 50rem 0 0;
    border-color: #FED931 transparent transparent transparent;
}

.details-container {
    margin: 0;
    padding: 0;
}

.product-image {
    z-index: 1;
    position: relative;
    bottom: 40rem;
    left: 10rem;
    width: 25rem;
    height: 16rem;
}

.detail-body {
    overflow: hidden;
}