.edit-button {
    width: 31px;
    height: 27px;
}

.edit-td {
    width: 10rem;
}

.astext {
    background: none;
    border-style: dashed;
    border-bottom: 1px solid #212121;
    margin: 0;
    padding: 0;
    cursor: pointer;
}